---
import { type CollectionEntry, getCollection } from 'astro:content';
import BlogPost from '../../layouts/BlogPost.astro';
import lib from "zenn-markdown-html";
console.log( lib ); 
import 'zenn-content-css';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const content = markdownToHtml(post.body, {
  embedOrigin: "https://embed.zenn.studio",
});

---

<BlogPost {...post.data}>
  <script is:inline src="https://embed.zenn.studio/js/listen-embed-event.js"
  ></script>
  <div class="znc">
    <Fragment set:html={content} />
  </div>  
</BlogPost>
